# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.sln
# Archivos de configuración del entorno
*.vsconfig

# Carpetas de salida de compilación
bin/
obj/
TestResults/

# Archivos temporales y de caché
*.pdb
*.cache
*.log
*.ilk
*.obj
*.tlog
*.lastbuildstate
*.vspscc
*.vssscc

# Paquetes NuGet y directorios relacionados
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Configuración del administrador de paquetes de Visual Studio
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# Archivos de usuario de Visual Studio y Rider
*.csproj.user
*.vcxproj.user
*.rsuser

