<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_NTFG.Properties.Settings.DB_NTFGConnectionString"
            connectionString="Data Source=(localdb)\BrandonZ;Initial Catalog=DB_NTFG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>